/* Style Settings */
@import url('http://fonts.googleapis.com/css?family=Roboto');
:root {
    --bgColor:#040D12;
    --accentColor: #A7D129;
    --complementColor: #616F39;
    --font: 'Lucida Handwriting', monospace;
    --hoverColor: #040D12;
}

body{
    background-color: var(--bgColor)
}

#userPhoto{
    width: 120px;
    height: 120px;
    display: block;
    margin: 35px auto 20px;
    border: 5px;
    border-radius: 50%;
    border-style: dotted;
    border-color: var(--accentColor)
}

#userName{
    color: var(--accentColor);
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.25;
    display: block;
    font-family: var(--font);
    width: 100%;
    text-align: center;
    text-transform: uppercase;;
}

#links{
    max-width: 500px;
    width: auto;
    display: block;
    margin: 27px auto;
}
.link{
    display: block;
    background-color: var(--accentColor);
    color: var(--bgColor);
    font-family: var(--font);
    text-align: center;
    margin-bottom: 20px;
    padding: 17px;
    text-decoration: none;
    font-size: 1rem;
    transition: all .25s cubic-bezier(.08,.59,.29,.99);
    border-color: var(--complementColor);
    border: 5px;
    border-style: dotted;
    border-radius: 30px;
}

.link:hover{
    background-color: var(--hoverColor);
    color: var(--accentColor);
}

.loader-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--bgColor);
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-loader {
    width: 69px;
    height: 36px;
    --c:radial-gradient(farthest-side,#A7D129 90%,#0000);
    background:var(--c), var(--c), var(--c), var(--c);
    background-size: 12px 12px;
    background-repeat: no-repeat;
    animation:d3 2s infinite linear; 
}

@keyframes d3 {
    0%     {background-position: calc(0*100%/3) 50% ,calc(1*100%/3) 50% ,calc(2*100%/3) 50% ,calc(3*100%/3) 50% }
    16.67% {background-position: calc(0*100%/3) 0   ,calc(1*100%/3) 50% ,calc(2*100%/3) 50% ,calc(3*100%/3) 50% }
    33.33% {background-position: calc(0*100%/3) 100%,calc(1*100%/3) 0   ,calc(2*100%/3) 50% ,calc(3*100%/3) 50% }
    50%    {background-position: calc(0*100%/3) 50% ,calc(1*100%/3) 100%,calc(2*100%/3) 0   ,calc(3*100%/3) 50% }
    66.67% {background-position: calc(0*100%/3) 50% ,calc(1*100%/3) 50% ,calc(2*100%/3) 100%,calc(3*100%/3) 0   }
    83.33% {background-position: calc(0*100%/3) 50% ,calc(1*100%/3) 50% ,calc(2*100%/3) 50% ,calc(3*100%/3) 100%}
    100%   {background-position: calc(0*100%/3) 50% ,calc(1*100%/3) 50% ,calc(2*100%/3) 50% ,calc(3*100%/3) 50% }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

#homePage {
    display: none;
    text-align: center;
}